<ng-template #cardTitle><h2>{{ title }}</h2></ng-template>
<ng-template #listTitle><h3>{{ title }}</h3></ng-template>
<mat-card class="{{ class }}">
	<mat-card-header>
        <mat-card-title *ngIf="title">
            <ng-container *ngIf="!list; then cardTitle"></ng-container>
        </mat-card-title>
        <mat-chip-list aria-label="tags">
            <mat-chip *ngFor="let tag of tags"><strong class="text-muted">{{tag}}</strong></mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
	    <ng-container *ngIf="list; then listTitle"></ng-container>
		<ng-content></ng-content>
        <markdown *ngIf="resourceIdentifier" (ready)="onReady()" src="{{github.entryPoints.raw}}{{resourceIdentifier}}.md"></markdown>
		<markdown *ngIf="markdownFileUrl" (ready)="onReady()" src="{{markdownFileUrl}}"></markdown>
	</mat-card-content>
    <mat-card-actions *ngIf="showActions" class="text-right {{ actionTheme }}">
        <a *ngIf="resourceLink" routerLink="{{resourceLink}}" mat-raised-button mat-stroked-button>
            <span class="text-warn">Open Resource</span>
			<mat-icon class="round bg-warn text-light"><app-icon-next></app-icon-next></mat-icon>
		</a>
    </mat-card-actions>
</mat-card>