mat-card {
	display:flex;
	flex-direction: column;
	flex-wrap:nowrap;
	max-height:100%;

	> * {
		flex-grow:0;
		flex-shrink:0;
	}

	> mat-card-content {
		flex-grow:1;
		flex-shrink:1 !important;
	}
}