@import "../../../styles/helpers";

a, .mat-button {
    font-family:$custom-font-body;

	&.current {
		span.text{
			position:relative;

			&:after {
				content:"";
				position:absolute;
				top:0; right:0; bottom:calc(((#{'1em'} + #{$line-thickness * 1.25}) * -1)); left:0;
				border-bottom:$line-thickness $color_green solid;
			}
		}
	}
}

.app-header {
	background-color: transparent;
	position: absolute;
	top: 0;
	width: 100%;
}

.app-menu {
	font-size: 14px;

	a {
		color: #333;
		margin-right: 32px;
		text-decoration: none;

		&:hover {
			border-bottom: 4px solid $color_teal;
		}

		&.app-logo {
			color: $color_magenta;
			margin-right: 64px;

		}
	}
}

.app-name {
	display: flex;
	margin-left: 1rem;
	text-decoration: none;
}