@import 'palettes';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$button-height:4.8rem;
$line-thickness:0.4em;
$border-radius:1.2rem;
$icon-border-width:0.08em;
$icon-font-size:3.2rem;
//$elevation:#{'.mat-elevation-z7'};

$color_magenta: #AB30AB;
$color_teal: #13E1BF;
$color_lightgreen: map-get($md-lightgreen, 500);
$color_purple: map-get($md-purple, 500);
$color_pink: map-get($md-pink, 500);
$color_green: map-get($md-green, 500);
$color_grey_medium: rgba(black, 0.42);
$color_grey_light: rgba(black, 0.24);
$custom-font-body: Open Sans, sans-serif;
$custom-font-accent: Open Sans, sans-serif;

$color_primary:$color_purple;
$color_accent:$color_green;
$color_warn:$color_pink;

.bg-purple { background-color:$color_purple; }
.text-purple { color:$color_purple; }

.bg-green { background-color:$color_green; }
.text-green { color:$color_green; }

.bg-pink { background-color:$color_pink; }
.text-pink { color:$color_pink; }

.purple_overlay {
	background-color:rgba($color_purple, 0.77);
}

.shadow_sm {
  box-shadow: 0 4px 7px 0px rgba(0,0,0,0.19);
}

@for $i from 1 to 100 {
	$negative-margin:#{$i * -1}#{'px'};
    .neg-mt-#{$i} { margin-top:$negative-margin; }
	.neg-mr-#{$i} { margin-right:$negative-margin; }
	.neg-mb-#{$i} { margin-bottom:$negative-margin; }
	.neg-ml-#{$i} { margin-left:$negative-margin; }
}

@for $i from 1 to 100 { .zIndex-#{$i} { z-index:$i; } }

.padding-lg-top  	{ padding-top:7rem }
.padding-lg-right	{ padding-right:7rem }
.padding-lg-bottom	{ padding-bottom:7rem }
.padding-lg-left  	{ padding-left:7rem }

.padding-xl-top  	{ padding-top:10rem }
.padding-xl-right  	{ padding-right:10rem }
.padding-xl-bottom  { padding-bottom:10rem }
.padding-xl-left  	{ padding-left:10rem }


@mixin iconSizer($icon_dimension:$icon-font-size) {
	box-sizing:content-box;
	font-size:$icon-font-size !important;
	width:$icon_dimension !important;
	height:$icon_dimension !important;
	line-height:$icon_dimension !important;
}

.offset-background {
	position:relative;
	> * { position:relative; z-index:1; }

	&:before {
		content:"";
		position:absolute;
		top:0; right:0; bottom:0; left:-150vw;
		background-color:inherit;
		z-index:0;
		border:inherit;
		border-radius:inherit;
		box-shadow: inherit;
	}
}

@import 'forms';
