@import '../../../styles/helpers';

.app-banner {

  h1 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
    max-width: 650px;
  }
}

.app-banner__content {
  padding: 0 64px;

  p {
    font-size: 20px;
    line-height: 36px;
  }
}

.app-banner__tagline {
  color: #AAA;
  font-size: 14px !important;
  margin: 0;
  line-height: 0;
  padding-top: 16px;
}

#toolkit {
  overflow:hidden;
}

.lg-padding {
  padding: 150px 0;
}
