<section id="toolkit" class="content-fluid theme-gradient">
	<div class="container">
		<div class="row">
			<div class="bg-white offset-background col-md-6 padding-xl-top padding-lg-bottom">
				<div class="padding-lg-top padding-lg-right">
					<p class="mat-caption dec-line pink top left offset-top">
						<span class="text-muted">Learn • Build • Improve</span>
					</p>
					<h1 class="mat-display-4">
						Combating Bias in AI Toolkit
					</h1>
					<p class="mat-subheading-1">
						From fundamentals to advanced topics, this toolkit helps
						teams in government understand and mitigate bias in their
						data and algorithms.
					</p>
					<a
						class="d-inline-block mt-5"
						mat-raised-button mat-stroked-button
						routerLink="/resources">
							<span>Get started</span>
							<mat-icon color="accent" class="round thick-border"><app-icon-next></app-icon-next></mat-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid padding-lg-top padding-lg-bottom mat-app-background mat-typography">
    <div class="container">
        <div class="d-flex justify-content-end">
            <div class="col-md-8 top left offset-top offset-left">
                <h2>Join the Community</h2>
                <p class="mat-subheading-1 dec-line green top left offset-left">
                    Join a community of enthusiasts and practitioners working to
                    build more equitable AI/ML for the communities we serve.
                </p>
                <a
						class="d-inline-block mt-5"
						mat-raised-button mat-stroked-button
						routerLink="/Resources">
                    <span>Join the Community Slack</span>
                    <mat-icon color="accent" class="round thick-border"><app-icon-next></app-icon-next></mat-icon>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5 theme-medium mat-app-background mat-typography">
    <div class="container">
        <h3 class="dec-line pink mb-5 bottom left offset-bottom ">Featured Resources</h3>
        <div class="resources d-flex flex-wrap pt-5 align-items-stretch mb-5">
			<div class="col-md-6 col-lg-4 flex-column mb-5  theme-lightpink">
				<!-- This pulls & displays Case Studies/Readme.md but links to the website /case-studies page -->
				<app-resource
					[tags]="['foo', 'bar']"
                    resourceLink="/case-studies"
                    resourceIdentifier="Case%20Studies/Readme">
				</app-resource>
			</div>
			<div class="col-md-6 col-lg-8 flex-column mb-5 list theme-lightgreen">
				<div class="mb-3">
					<!-- Pulling in a resource via identifer (TOPIC/LEVEL/FILENAME) -->
					<app-resource
						[list]="true"
						[tags]="['foo', 'bar']"
						resourceLink="/Learn/Beginner/Readme"
						resourceIdentifier="/Learn/Beginner/Readme">
					</app-resource>
				</div>
				<div class="mb-3">
					<!-- This links a case study locally but displays nothing here, with a manually added card title -->
					<app-resource
						title="Manually Set a Title"
						[list]="true"
						[tags]="['foo', 'bar']"
						resourceLink="/case-studies/Readme">
					</app-resource>
				</div>
			</div>
        </div>
    </div>
</section>