<section id="toolkit" class="container-fluid theme-gradient padding-xl-top padding-xl-bottom theme-dark mat-app-background mat-typography">
    <div class="container d-md-flex justify-content-start align-content-stretch dec-line-vertical top right">
        <div class="col-md-6  padding-lg-top padding-lg-bottom dec-line pink bottom right offset-bottom offset-right">
            <h1>
                AI/ML Anti-Bias Toolkit
				<small class="d-block font-body font-weight-normal mat-subheading-1">
					Tools for serving communities better when leveraging AI/ML in public sector services
				</small>
            </h1>
        </div>
        <div class="col-md-6 decoration"></div>
    </div>
</section>
<section class="container-fluid padding-lg-top padding-lg-bottom theme-light mat-app-background mat-typography">
    <div class="container">
        <div class="d-flex justify-content-end">
            <div class="col-md-8 dec-line-vertical dotted top left offset-top offset-left">
                <h2>Building AI/ML Right</h2>
                <p class="mat-subheading-1 dec-line green top left offset-left">
                    Whether you are a city analytics lead, a state chief data officer, or federal agency director, this toolkit offers the tools for you to
                    drive impact in building ethical and equitable AI/ML for the communities you serve.
                </p>
                <a
						class="d-inline-block mt-5"
						mat-raised-button mat-stroked-button
						routerLink="/resources">
                    <span>Get <span class="d-none d-sm-inline">directed to relevant</span> resources</span>
                    <mat-icon color="accent" class="round thick-border"><app-icon-next></app-icon-next></mat-icon>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-5 pb-5 theme-medium mat-app-background mat-typography">
    <div class="container">
        <h3 class="dec-line pink mb-5 bottom left offset-bottom ">Featured Resources</h3>
        <div class="resources d-flex flex-wrap pt-5 align-items-stretch mb-5">
			<div class="col-md-6 col-lg-4 flex-column mb-5  theme-lightpink">
				<!-- This pulls & displays Case Studies/Readme.md but links to the website /case-studies page -->
				<app-resource
					[tags]="['foo', 'bar']"
                    resourceLink="/case-studies"
                    resourceIdentifier="Case%20Studies/Readme">
				</app-resource>
			</div>
			<div class="col-md-6 col-lg-8 flex-column mb-5 list theme-lightgreen">
				<div class="mb-3">
					<!-- Pulling in a resource via identifer (TOPIC/LEVEL/FILENAME) -->
					<app-resource
						[list]="true"
						[tags]="['foo', 'bar']"
						resourceLink="/Learn/Beginner/Readme"
						resourceIdentifier="/Learn/Beginner/Readme">
					</app-resource>
				</div>
				<div class="mb-3">
					<!-- This links a case study locally but displays nothing here, with a manually added card title -->
					<app-resource
						title="Manually Set a Title"
						[list]="true"
						[tags]="['foo', 'bar']"
						resourceLink="/case-studies/Readme">
					</app-resource>
				</div>
			</div>
        </div>
    </div>
</section>