@import "../../../styles/helpers";

#resources {
	.resource {
		@extend .flex-column;
		// @extend .col-md-6;
		// @extend .col-lg-4;


		//&.large { @extend .col-lg-8 }
	}
	.mat-card {
		@extend .h-100;
		@extend .d-flex;
		@extend .flex-column;

		.mat-card-header {
			.mat-chip {
				border-radius: $border-radius;
				text-transform:uppercase;
				font-weight:normal;
			}
		}
	}

    #survey-action-card {
        .mat-chip-list .mat-chip:first-child {
            @extend .offset-background;
            &:before { z-index: -1;}
        }
        .mat-card {
            @extend .offset-background;
        }
    }
}